body{
	margin:auto;
	width:800px;
	background-color: white;
	color: black;
}
#traceAndSourceButtons{
	height: 15px;
}
#downloadButton{
	float: right;
}
#traceReportButton{
	float: left;
}
#date{
	text-align: center;
}
.button{
	font-size: 20px;
	text-align: center;
	margin: 0px;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: white;
	color: black;
	border-radius: 10px;
	text-decoration: none;
}
.button:hover{
	background-color: black;
	color: white;
	border-radius: 7px;
}
.menuButton{
	font-size: 20px;
	text-align: center;
	margin: 0px;
	width: 192px;
	float: left;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: white;
	color: black;
	border-radius: 10px;
	text-decoration: none;
}
.menuButton:hover{
	background-color: black;
	color: white;
	border-radius: 7px;
}
#markdownArea code{
	line-height: 40px;
	font-weight: bold;
	width: 800px;
	padding: 10px;
	color: white;
	background-color: black;
}
#markdownArea{
	color: black;
	background-color: white;
}
.addedLine{
	color: green;
}
.removedLine{
	color: red;
}
.diff{
	background-color: lightgray;
}
